@media only screen and (max-width: 1290px){
    .hero-text-box{
        width:100%;
        padding: 0 2%;
        
    }
    .row{ padding: 0 2%;}
}



/* Big tablet to desktop 1023 - 1200*/
@media only screen and (max-width: 1200px){
    .hero-text-box{
        width:100%;
        padding: 0 5%;
        
    }
    .row{ padding: 0 2%;}
}



/* Ipads and landscape view iphone 767 - 1023 */
@media only screen and (max-width: 1023px){
    .hero-text-box{
        width:100%;
        padding: 0 5%;
        
    }
    .row{ padding: 0 2%;}



/* Small devices - tablets 481 - 767px */
@media only screen and (max-width: 767px){

}



/* Small devices 0 - 480px */
@media only screen and (max-width: 480px){
    
}





