* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.clearfix{zoom:1}
.clearfix:after{
    content:'.';
    clear: both;
    display:block;
    height:0;
    visibility: hidden;

}

/* Reusable Componets */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box{
    padding: 1%;
    
}

/* FEATURES */
.section-features .long-copy{
    margin-bottom: 30px;
}

/* _______________________________________ */
/* Header */
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(/vendors/img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:100vh;
  
}
.hero-text-box{
    width:1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;

   

}
.main-nav li a:link,
.main-nav li a:visited{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  transition: border-bottom 0.2s;
  padding:  8px 0;
}    


.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:2px solid #e67e22
}    

/* _______________________________________ */

h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px; 
}
h1{
    margin: 0;
    font-size: 240%;
    color: #fff;
    margin-bottom: 10px;
    word-spacing: 4px;
    letter-spacing: 1px; 
}
h2{
font-size: 180%;
word-spacing:2px;
text-align: center;
margin-bottom: 30px;
letter-spacing: 1px; 
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px; 


}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    word-spacing: 0;
    
}
/* ---------------------- */
/* PARAGRAPHS */
.long-copy{
    height: 145%;
    widows: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}
/* ---------------------- */
/* ICONS */
.icon-big{
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    
}
/* ------------------- */
/* BUTTONS */
/* ------------------- */
.btn:link,
.btn-visited,
input[type=submit]{
    display: inline-block;
    padding:10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition:background-color 0.2s, border 0.2s, color 0.2s
 
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin-right: 15px;
    color:#fff;
}
.btn-full:active,
.btn-full:hover,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color:#e67e22;
}
.btn-ghost:active,
.btn-ghost:hover{
    border: 1px solid #e67e22;
    background-color: #e67e22;
    color:#fff;
}

/* MEALS */
.meals-showcase{
    list-style: none;
    width:100%;

}

.meals-showcase li{
    display:block;
    float:left;
    width:25%;
}
.meal-photos{
    width:100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    
}
.meal-photos img{
    opacity: 0.7;
    width:100%;
    height:auto;
    transform: scale(1.15);
    transition:transform 0.5s, opacity 0.5s;;
}
.section-meals{
    padding: 0;

}

.meal-photos img:hover{
  transform:scale(1.3);
  opacity:1;
  
}

/* How It Works */
.section-steps{
    background-color: #f4f4f4;
}

.steps-box :first-child{
    text-align: right;
    padding-left:  3%;
    margin-top: 30px;
}
.steps-box :last-child{
    margin-left:43%;
   
}
.app-screen{
    width: 40%;
    
}
.works-step{
    padding-top: 1%;
    margin-top:6%;
   
     
}
.works-step p {
    margin: 25px;
    
}
.works-step div {
    color:#e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    text-align:center;
    height:55px;
    width:55px;
    font-size:30px;
    padding:5px;
    margin-right: 20px;
    margin-top: 25px;
    float:left;
}

.btn-app img{
height:50px;
width:auto;
margin-right:10px;
margin-top: 7%;
}

/* CITIES */
.box img {
width:100%;
height: auto;
margin-bottom:15px;

}

.city-feature{
    margin-bottom: 15px;
}

.city-icon{
   float:left;
   text-align: center;
   color: #e67e22;
   margin-right: 12px;
   line-height: 120%;
   margin-top: 1.5px;
}

.city-feature h3{
    letter-spacing: 0;
}

/* ------------------ */
/* TESTIMONIALS */
/* ------------------ */
.section-testimonials{
   background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(vendors/img/back-customers.jpg);
    background-size: cover;
    color: #fff;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top:40px;
}
blockquote:before{
    content:"\201C";
    font-size:500%;
    display: block;
    position: absolute;
    top:-5px;
    left:-5px;
    

}


cite{
    font-size: 90%;
    margin-top:25px;
    display:block;
}



cite img {
    border-radius: 50%;
    height: 60px;
    vertical-align: -webkit-baseline-middle;
    margin-right:10px;
}

/* ------------------ */
/* PLANS */
/* ------------------ */

.section-plans{
    margin-top: -75px;
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width:90%;
    margin-left: 10%;
    box-shadow:0, 2px 2px #efefef
}
.plan-box div{
    padding: 15px;
    border-bottom:1px solid #e8e8e8;
}

.plan-price{
    font-size: 300%;
    font-weight:100;
    margin-bottom: 10px;
    color: #e67e22;

}

.plan-price span{
    font-size:30%;
    font-weight:300;
}
.plan-price-meal{
    font-size:80%;
}
.plan-box ul{
 list-style:none;

}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-box div:last-child{
    text-align: center;
    border: none;
}
.plan-box ul li {
    padding: 5px 0;
}
.plan-box .ion-md-checkmark, .ion-md-close{
    color:#e67e22;
    font-size: 15px;
    margin-right:15px;
}
/* ------------------ */
/* FORM */
/* ------------------ */
.contact-form{
    width:60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
width:100%;
padding:10px;
border-radius: 3px;
border: 1px solid#ccc;
font-size:15px;
font-weight: 100;
}
.text-area{
    height:100px;
}
submit{
    color:blue;
}

input[type=checkbox]{
    margin:10px 5px 10px 0;
}

*:focus{
    outline: none;
}

input[value]{
    font-size:80%;
}
/* -------------- */
/* FOOTER */
/* -------------- */
footer{
    background-color: #333;
    padding:30px;
    font-size:80%;
}
.footer-nav{
    list-style:none;
    float:left;
}
.social-links{
    list-style: none;
    float: right; 
}
.footer-nav li,
.social-links li {
    display:inline-block;
    margin-right:20px;
    margin-bottom:20px;
}
.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
   text-decoration: none;
   color:#888;
   transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active
.social-links li a:hover,
.social-links li a:active{
   text-decoration: none;
   color:#ddd;
}
footer p{
    color:#888;
    text-align: center;
   margin-bottom:5px;

}

.social-links li a:link,
.social-links li a:visited{
    font-size:150%;
    margin-bottom:px;
   
}
.ion-logo-facebook:hover{
    color: #3b5998;
}
.ion-logo-googleplus:hover{
    color:#dd4b39;
}
.ion-logo-instagram:hover{
    color:#517fa4;
}

.ion-logo-twitter:hover{
    color:#00aced;
}
.ion-logo-facebook,
.ion-logo-googleplus,
.ion-logo-instagram,
.ion-logo-twitter{
    transition: color 0.2s;
}